---
lang: en
title: Price
excerpt: Free Hosting with 200 MB capacity, 5 GB bandwidth, 1 Database, Free Domain without ads forever.
layout: default
color: '#c50'
head:
  h1: List of Host Plan
  h2: Which host plan suits for you?
plans:
  - title: Freedom Plan
    style: 'white'
    price: "Free!"
    items:
    - <li>Free Domain</li>
    - <li><b>256 MB</b> Storage</li>
    - <li><b>18 GB</b> Bandwidth</li>
    - <li><b>1</b> Database</li>
    suits:
    - Testing a Website
    - Web for Personal
  - title: Lite Plan
    style: '#ffe'
    price: "5.00"
    items:
    - <li>Custom Domain</li>
    - <li><b>1024 MB</b> Storage</li>
    - <li><b>60 GB</b> Bandwidth</li>
    - <li><b>2</b> Databases</li>
    suits:
    - Testing a Website
    - Web for Blogging
    - Web for Portfolio
  - title: Pro Plan
    style: '#ffc'
    price: "20.00"
    items:
    - <li>Custom Domain</li>
    - <li><b>3072 MB</b> Storage</li>
    - <li><b>180 GB</b> Bandwidth</li>
    - <li><b>5</b> Subdomains</li>
    - <li><b>6</b> Databases</li>
    suits:
    - Web for Public
    - Multimedia-rich Web
    - Web for Organization
  - title: Business Plan
    style: '#ff8'
    price: "60.00"
    items:
    - <li>Custom Domain</li>
    - <li><b>8192 MB</b> Storage</li>
    - <li><b>600 GB</b> Bandwidth</li>
    - <li><b>20</b> Subdomains</li>
    - <li><b>25</b> Databases</li>
    - <li><b>50 Sub-Accounts</b></li>
    suits:
    - Web for Business
    - Information System
    - Public Service
  - title: Super Plan
    style: '#ff0'
    price: "180.00"
    items:
    - <li>Custom Domain</li>
    - <li><b>16384 MB</b> Storage</li>
    - <li><b>1800 GB</b> Bandwidth</li>
    - <li><b>50</b> Subdomains</li>
    - <li><b>60</b> Databases</li>
    - <li><b>75 Sub-Accounts</b></li>
    suits:
    - Marketplace
    - Business Integration
    - Big Data
  - title: Legend Plan
    style: '#110; color: white'
    price: "600.00"
    items:
    - <li>Custom Domain</li>
    - <li><b>40960 MB</b> Storage</li>
    - <li><b>6000 GB</b> Bandwidth</li>
    - <li><b>100</b> Subdomains</li>
    - <li><b>120</b> Databases</li>
    - <li><b>150 Sub-Accounts</b></li>
    suits:
    - ???
faqs:
  -
    - id: faq01
      title: Is the Freedom Plan really Free?
      body: <p>Yes, the Freedom package does not require any special application. The Freedom Package has a grace period of up to 2 months, but you can extend the grace period whenever you want.</p>
    - id: faq02
      title: What are the payment methods?
      body: <p>We use TransferWire to proceed international payments. But right now it has to done manually using support request</p>
    - id: faq03
      title: Are there any other costs besides hosting?
      body: <p>If you want a domain that ends in other than <b>.dom.my.id</b>,  you can purchase the domain <a href="/domain.html" target="_blank" rel="noopener noreferrer">listed here</a>. In addition there is an additional fee of 50 cents on every transaction in the DOM Cloud.</p>
    - id: faq04
      title: Can we submit a Refund?
      body: <p>If your hosting is less than 30 days from the date of purchase, you can contact support to process your refund request. The amount purchased is 90% of the hosting price and it does not include any add-on or domain bandwidth purchases.</p>
  -
    - id: faq10
      title: The difference between storage and bandwidth?
      body: <p>Storage is a usage limit that is calculated as the total capacity of files, databases, and other server data. While Bandwidth is the limit of data sent within a certain time.</p>
    - id: faq11
      title: What is the principle of bandwidth limitation?
      body: <p>The bandwidth shown is the bandwidth per year. However, the effective limitation is done per month. For example, for the Freedom plan you get 18 GB of bandwidth, then you are limited to 1.5 GB each month. This restriction will be reset at the beginning of each month.</p>
    - id: faq12
      title: How do you calculate bandwidth requirements?
      body: <p>You can do a quick calculation with the average website size of 256 KB per page. For example, with the Freedom plan limitation of 1.5 GB per month, you can get a maximum traffic of around 6000 views per month. This figure can be increased even further if you optimize the size of the website, using a CDN or purchase additional bandwidth.</p>
    - id: faq13
      title: I feel that the capacity given is lacking
      body: <p>As a website owner, it is also your obligation to optimize resource usage. This is a reminder that you always check website performance so that it remains responsive and good for SEO. If your media resource demands are high, you can use third party file storage such as Google Drive, Dropbox, AWS S3 or Cloudinary.</p><p>If you just want more additional bandwidth, you can purchase it as add-ons at 5 cents per GiB.</p>
  -
    - id: faq21
      title: Aren't there Unlimited options?
      body: <p>Several other hosting providers claim to provide Unlimited storage and bandwidth. This is not always true, because the host uses "Fair Usage" for which we do not know the exact "fair" limits. DOM Cloud breaks this confusion by explaining the limits you actually get in each price range.</p>
    - id: faq22
      title: Where is the server located?
      body: <p>DOM Cloud does not build its own servers. DOM Cloud is a hosting service on top of the Digital Ocean Infrastructure and we are currently installing the main server in Singapore.</p>
    - id: faq23
      title: Does DOM Cloud have an Uptime Guarantee?
      body: <p>The DOM Cloud server is guaranteed by the <a href="https://www.digitalocean.com/docs/platform/droplet-policies/" target="_blank" rel="noopener noreferrer">99.99% Uptime Droplet SLA</a>, however DOM Cloud itself does not guarantee downtime caused by maintenance, operator error or certain cyber attacks.</p>
    - id: faq24
      title: I'm still curious about the DOM Cloud policy
      body: <p>You can read <a href="/about.html">about us</a> and <a href="/service.html">our terms of service</a>.f you are still curious, you can cross check our statement via <a href="https://github.com/domcloud/dom-portal">source code portal</a> or ask us through support.</p>
---
<div class="text-center">

  <div class="jumbotron bg top fixed text-white"
    style="--bg: url(https://images.unsplash.com/photo-1437773540554-96d393b4d0c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1056&q=80); background-color: #c50;">
    <h1 class="display-4">{{ page.head.h1 }}</h1>
    <div class="text-sm">{{ page.head.h2 }}</div>
  </div>


  {% for plan in page.plans %}
  <div class="row g-0"  style="background: {{ plan.style }}">
    <div class="col-md-4 bg py-5">
      <p class="h3">{{ plan.title }}</p>
      <p class="display-2">{{ plan.price }}</p>
      <p>US$ a year</p>
    </div>
    <div class="col-md-4 bg py-5 h5 font-weight-normal">
      <p><small>Specification</small></p>
      <ul class="checklist">
        {% for item in plan.items %}
          {{ item }}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4 bg py-5 h5 font-weight-normal">
      <p><small>Suitable for</small></p>
      <ul class="checklist">
        {% for item in plan.suits %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

  <div class="p-5" style="background-color: #FFE;">
    <h2 class="mb-3">FAQ</h2>
    <div class="row">
      {% for faqrow in page.faqs %}
      <div class="col-lg-4">
        {% for faq in faqrow %}
        <button class="btn btn-text btn-block dropdown-toggle mb-2" type="button" data-toggle="collapse" data-target="#{{ faq.id }}" aria-expanded="false">{{ faq.title }}</button>
        <div class="collapse multi-collapse mb-3" id="{{ faq.id }}">
          <div class="card card-body">
            {{ faq.body }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <p class="mt-2"><a class="btn btn-lg btn-warning" href="https://portal.domcloud.id/en/register">Sign up now</a></p>
  </div>
  <style>
    .dropdown-toggle {
      white-space: normal !important;
    }
  </style>
</div>