---
layout: default
excerpt: Distruptive hosting provider for IT developers that you can start for free.
color: '#079'
pricing:
- val: 4000
  plan: 'Freedom'
  price: 'Free!'
  desc: 'No need to pay! Suitable when starting a website.'
  color: 'white'
- val: 12000
  plan: 'Lite'
  price: '5.00 US$'
  desc: 'An economical package for personal websites or small budget websites.'
  color: '#079; color: white'
- val: 40000
  plan: 'Pro'
  price: '25.00 US$'
  desc: 'Have a lot of content started? This package is suitable for growing websites.'
  color: '#808; color: white'
- val: 120000
  plan: 'Super'
  price: '75.00 US$'
  desc: 'A super cool package for an extremely popular website!'
  color: '#d23; color: white'
- val: 400000
  plan: 'Ultimate'
  price: '150.00 US$'
  desc: 'A website package that makes this business owner goosebumps.'
  color: '#000; color: white'
features:
- title: Virtualmin Panel
  logo: https://via.placeholder.com/150
  desc: Panel Manager that is simpler but not inferior to cPanel
- title: Nginx Webserver
  logo: https://via.placeholder.com/150
  desc: A faster and more efficient HTTP / HTTPS webserver than Apache
- title: SSL Gratis
  logo: https://via.placeholder.com/150
  desc: SSL verification for HTTPS using Let's Encrypt, always free
- title: Dua Server Database
  logo: https://via.placeholder.com/150
  desc: MariaDB or PostgreSQL? We support both
- title: DNS Server
  logo: https://via.placeholder.com/150
  desc: Set the nameserver here so you can manage DNS via the hosting panel
- title: FTP Server
  logo: https://via.placeholder.com/150
  desc: Apart from using the website, you can also manage files via FTP
- title: SSH Server
  logo: https://via.placeholder.com/150
  desc: Manage hosting or install applications via remote terminal
- title: SQL Web Admin
  logo: https://via.placeholder.com/150
  desc: You can edit the MariaDB or PostgreSQL database directly through the website
- title: Script Deployments
  logo: https://via.placeholder.com/150
  desc: Set up SSH commands via the website or use an existing template
- title: Multi Language
  logo: https://via.placeholder.com/150
  desc: Not only PHP, it can also be Python, Node.JS, Ruby, Go, Rust, etc.
- title: Complete SSH Tool
  logo: https://via.placeholder.com/150
  desc: Git, Composer, NPM, wget, nslookup, etc.; you can request if you want
- title: Optimized by Default
  logo: https://via.placeholder.com/150
  desc: HTTP / 2, Gzip, TLS v1.3, HTTP Cache; Everything is on by default
- title: Free domain and hosting
  logo: https://via.placeholder.com/150
  desc: A free plan with *.domcloud.io is available for you to try
- title: Can Use Free First
  logo: https://via.placeholder.com/150
  desc: There is no need to pick your wallet if you are still in doubt
- title: Clean Marketing
  logo: https://via.placeholder.com/150
  desc: Storage and bandwidth rations are clearly within your budget
- title: Many Payment Methods (soon)
  logo: https://via.placeholder.com/150
  desc: You can pay with Paypal or Credit Card
templates:
- title: WordPress
  logo: https://simpleicons.org/icons/wordpress.svg
  color: 21759B
  link: https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/wordpress.yml
- title: Laravel
  logo: https://simpleicons.org/icons/laravel.svg
  color: FF2D20
  link: https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/laravel.yml
- title: Django
  logo: https://simpleicons.org/icons/django.svg
  color: 092E20
  link: https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/django.yml
- title: Ruby on Rails
  logo: https://simpleicons.org/icons/rubyonrails.svg
  color: CC0000
  link: https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/rails.yml

---
<div>

  <div class="jumbotron bg top fixed text-white"
    style="--bg: url(https://images.unsplash.com/photo-1542459025-64f60ea0b26c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80); background-color: #079;">
    <h1 class="display-4 py-5">FreeDOM, <b>starts here</b></h1>
    <p class="h4 my-5">Distruptive hosting provider for IT developers</p>
  </div>
  <p class="h4 my-5 text-center">How many views for the website that you want to create?</p>
  <div class="row g-0 p-5 text-center" id="rcolor">
    <div class="col-md-6 bg full">
      <input type="range" min="0" max="4" class="w-75" value="0" id="rinput">
      <p class="h3 my-3">~<span id="rval"></span> views / month</p>
      <p class="text-muted"><small>For average use of 256 KB / view</small></p>
    </div>
    <div class="col-md-6 text-left d-flex flex-column pt-5 pt-md-0 justify-content-center">
      <p>Try<br> <span class="h2"><span id="rplan"></span> Plan</span></p>
      <p>Price a year <b><span id="rprice"></span></b> </p>
      <p id="rdesc"></p>
      <p><a style="color: inherit;" href="/en/price.html">See plan comparison details</a></p>
    </div>
   <script>
     const rlist = JSON.parse('{{ page.pricing | jsonify }}');

     var f = function (e) {
      document.getElementById('rval').innerText =  rlist[e.target.value].val.toLocaleString();
      document.getElementById('rplan').innerText = rlist[e.target.value].plan;
      document.getElementById('rprice').innerText = rlist[e.target.value].price;
      document.getElementById('rdesc').innerText = rlist[e.target.value].desc;
      document.getElementById('rcolor').style = 'background-color: ' + rlist[e.target.value].color;
     };
     f({target: {value: 0}});
     document.getElementById('rinput').oninput = f;
    </script>
  </div>

  <div class="container-fluid">
    <div class="row g-0 align-items-center text-left justify-content-center">
      {% for feat in page.features %}
      <div class="col-lg-6 mb-2">
        <div class="d-flex">
          <img src="{{ feat.logo }}" style="height: 120px; width: 120px; object-fit: contain;">
          <div class="ms-2 d-flex flex-column justify-content-center">
            <div class="h4 my-2">{{ feat.title }}</div>
            <p>{{ feat.desc }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <p class="h4 my-5 text-center">One-click install scripts for many applications and frameworks</p>
  <div class="row g-0 text-center">
    {% for template in page.templates %}
    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #{{ template.color }};">
      <a href="{{ template.link }}">
        <img src="{{ template.logo }}" style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
      </a>
      <div class="mt-3 h3">{{ template.title }}</div>
    </div>
    {% endfor %}
  </div>
  <p class="my-5"><a href="https://github.com/domcloud/dom-templates">Look for more templates</a></p>

  <div class="row g-0">
    <div class="col-md-6 p-5 text-left d-flex flex-column justify-content-center">
      <p class="h4">Digital Ocean</p>
      <p>DOM Cloud is a Host service on top of Digital Ocean. This means, you get a high-grade uptime availability and we can focus on improving features.</p>
    </div>
    <div class="col-md-6 mt-3 h3 bg">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/DigitalOcean_logo.svg/1024px-DigitalOcean_logo.svg.png" alt="DO Logo" class="w-75">
    </div>
  </div>
  <div class="row g-0 flex-row-reverse">
    <div class="col-md-6 p-5 text-left d-flex flex-column justify-content-center">
      <p class="h4">DOM Cloud</p>
      <p>DOM Cloud is an innovative hosted service, designed to be simple and transparent.</p>
      <p><a href="https://translate.google.com/translate?sl=id&tl=en&u=https%3A%2F%2Fdomcloud.id%2Fabout">Read About Us</a> / <a href="https://github.com/domcloud/domcloud-io/#readme">Read FAQ</a></p>
    </div>
    <div class="col-md-6 mt-3 h3 bg">
      <img src="/assets/icon.svg" alt="DOM Cloud Logo" class="w-50">
    </div>
  </div>
  <div class="p-4 text-center">
    <p><a class="btn btn-lg btn-secondary" href="https://portal.domcloud.id/en/register">Sign up now</a></p>
  </div>
</div>