<div class="list-group position-sticky top-0 py-4">
    <a class="list-group-item list-group-item-action" rel="author" href="{{ "/" | relative_url }}">
        <img src="/assets/icon.svg" width="64px" height="60px" alt="" class="mr-2">
        <span class="d-none d-sm-inline">&nbsp; Documentation</span>
    </a>
    <a href="/docs/" class="list-group-item list-group-item-action">
        Introduction
    </a>
    <a href="/docs/plans" class="list-group-item list-group-item-action">
        Feature Plans
    </a>
    <a href="/docs/deploy" class="list-group-item list-group-item-action">
        Deploying Apps
    </a>
    <a href="/docs/runner" class="list-group-item list-group-item-action">
        Runner Script
    </a>
    <a href="/docs/virtualmin" class="list-group-item list-group-item-action">
        Virtualmin
    </a>
    <a href="/docs/cname" class="list-group-item list-group-item-action">
        Custom Domain
    </a>
    <a href="/docs/troubleshoot" class="list-group-item list-group-item-action">
        Troubleshoot
    </a>
</div>