<header class="navbar navbar-dark navbar-expand-md position-{{ include.position | default: 'absolute' }} px-3 w-100" style="background-color: #0004;">

  <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">
    <img src="/assets/icon.svg" width="64px" height="60px" alt="" class="mr-2">
    <span class="d-none d-sm-inline">&nbsp; {{ site.title | escape }}</span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/price">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs/">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/domcloud/domcloud-io/discussions">Discuss</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://portal.domcloud.id/en/login">Sign in</a>
      </li>
    </ul>
  </div>
</header>