<header class="navbar navbar-dark navbar-expand-md position-absolute px-3 w-100" style="background-color: #0004;">

  <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">
    <img src="/assets/icon.svg" width="64px" height="60px" alt="" class="mr-2">
    <span class="d-none d-sm-inline">&nbsp; {{ site.title | escape }}</span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if page.lang == 'id' %}
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Fitur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/price">Harga</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/domain">Domain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://panduan.domcloud.id">Panduan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://portal.domcloud.id/id/login">Masuk</a>
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/en">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/en/price">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/en/domain">Domain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://portal.domcloud.id/en/login">Sign in</a>
      </li>
    </ul>
    {% endif %}
  </div>
</header>