<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="5OHB_0OlYbC7R9za5bPb9lO3jUFlRn3ZpULLrZOzOI8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  {% capture title %}{% if page.title %}{{ page.title | escape }} | {% else %}{% endif %}{% endcapture %}
  {% capture description %}{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape }}{% endcapture %}
  <title>{{ title }}{{ site.title }}</title>
  <link rel="shortcut icon" href="/assets/icon.svg">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta name="twitter:card" content="summary">
  <meta content="{{ description }}" name="description">
  <meta content="{{ title }}{{ site.title }}" property="og:title">
  <meta content="{{ description }}" property="og:description">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="{{ title }}{{ site.title }}" name="twitter:title">
  <meta content="{{ description }}" name="twitter:description">
  <meta content="#3f51b5" name="theme-color">

  {%- include custom-head.html -%}

</head>
