@charset "UTF-8";

.bg {
  background-image: var(--bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.top {
  background-position: top;
  padding-top: 80px;
  min-height: 60vh;
  }
  &.top.text-white {
  text-shadow: 0 0 5px black;
  }
  &.fixed {
    background-attachment: fixed;
  }
  &.full {
    min-height: 50vh;
    padding: 3em;
  }
}

.checklist {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  &>li {
    &::before {
      content: '✔️';
      margin-right: 1em;
    }
    margin: 0.4em 0;
  }
}

.nav-link {
  padding: 0 0.8rem !important;
}

.footer-list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 0;
  &>li {
    margin: 1em 1em;
    a {
      color: grey;
    }
  }
}