@charset "UTF-8";

.bg {
  background-image: var(--bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.top {
    background-position: top;
    padding-top: 80px;
    min-height: 60vh;
  }
  &.top.text-white {
    text-shadow: 0 0 10px black;
  }
  &.fixed {
    background-attachment: fixed;
  }
  &.full {
    padding: 2em;
    min-height: 50vh;
  }
}

.checklist {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  & > li {
    &::before {
      content: "✔️";
      margin-right: 1em;
    }
    margin: 0.4em 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    backdrop-filter: blur(0.5rem);
  }
}
.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
  text-shadow: 0 0 1px white;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 1) !important;
  text-shadow: 0 0 3px white;
}

.nav-link {
  padding: 0.5rem 0.8rem !important;
}

.text-code {
  color: #74c;
}

.btn-code {
  background-color: #74c;
  color: white;
}

.btn-code:hover {
  color: white;
  background-color: #53b;
}

.footer-list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 0;
  & > li {
    margin: 1em 1em;
    a {
      color: grey;
    }
  }
}

.hr-curvy {
  position: relative;
  height: 0;
  pointer-events: none;
}
.hr-curvy svg {
  position: absolute;
  top: -50px;
  height: 100px;
  width: 100%;
  display: block;
}
.hr-curvy .up {
  fill: var(--up, transparent);
}
.hr-curvy .down {
  fill: var(--down, transparent);
}
.hr-curvy .upback {
  fill: var(--upback, transparent);
}
.hr-curvy .downback {
  fill: var(--downback, transparent);
}

.float {
  position: fixed !important;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  &.wa {
    background-color: #00b643;
  }
  &.mail {
    background-color: #b60000;
  }
}
.float:hover {
  color: #efe;
}
.float svg {
  width: 60%;
}