
.bg {
  background-image: var(--bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.top {
  background-position: top;
  }
  &.fixed {
    background-attachment: fixed;
  }
  &.full {
    height: 50vh;
  }
}
