<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <a href="https://api.whatsapp.com/send?phone=6289514631927&text=Hai,+saya+ingin+bertanya+mengenai+DOM+Cloud"
      class="float" target="_blank" title="Tanya dengan kami mengenai DOM Cloud">
      <i class="fa fa-whatsapp my-float"></i>
    </a>
  </body>

</html>
