---
layout: default
---

<div class="text-center">
  <div
    class="jumbotron bg top fixed text-white"
    style="
      --bg: url(https://images.unsplash.com/photo-1437773540554-96d393b4d0c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1056&q=80);
      background-color: #c50;
    "
  >
    <h1 class="display-4">{{ page.head.h1 }}</h1>
    <div class="text-sm">{{ page.head.h2 }}</div>
  </div>

  {% for plan in page.plans %}
  <div class="row g-0" style="background: {{ plan.style }}">
    <div class="col-md-4 bg py-5">
      <p class="h3">{{ plan.title }}</p>
      <p class="display-2">{{ plan.price }}</p>
      <p>{{ page.head.priceayear }}</p>
    </div>
    <div class="col-md-4 bg py-5 h5 font-weight-normal">
      <p><small>{{ page.head.spec }}</small></p>
      <ul class="checklist">
        {% for item in plan.items %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4 bg py-5 h5 font-weight-normal">
      <p><small>{{ page.head.suit }}</small></p>
      <ul class="checklist">
        {% for item in plan.suits %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

  <div class="p-5" style="background-color: #ffe">
    <h2 class="mb-3">{{ page.head.faq }}</h2>
    <div class="row">
      {% for faqrow in page.faqs %}
      <div class="col-lg-4">
        {% for faq in faqrow %}
        <button
          class="btn btn-text btn-block dropdown-toggle mb-2"
          type="button"
          data-toggle="collapse"
          data-target="#{{ faq.id }}"
          aria-expanded="false"
        >
          {{ faq.title }}
        </button>
        <div class="collapse multi-collapse mb-3" id="{{ faq.id }}">
          <div class="card card-body">{{ faq.body }}</div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <p class="mt-2">
      <a
        class="btn btn-lg btn-warning"
        href="{{ page.head.signuplink }}"
        >{{ page.head.signuptext }}</a
      >
    </p>
  </div>
  <style>
    .dropdown-toggle {
      white-space: normal !important;
    }
  </style>
</div>
