<style>
    .ib {
        font-style: italic;
        font-size: small;
    }

    .ip {
        height: 160px;
        width: 160px;
        margin: 0 20px;
        font-size: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<p class="h4 my-5 text-center" id="features">More than just a hosting service</p>
<div class="container-fluid">
    <div class="row g-0 align-items-center text-left justify-content-center">
        {% for i in site.data.features.softwares %}
        <div class="col-sm-6 col-xl-4 mb-2">
            <div class="d-flex">
                <img src="{{ i.img }}" style="height: 180px; width: 200px; object-fit: contain;">
                <div class="ms-2 d-flex flex-column justify-content-center">
                    <div class="h4 my-2">{{ i.title }}</div>
                    <div class="ia">{{ i.sub1 }}</div>
                    <div class="ib">{{ i.sub2 }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<p class="h4 my-5 text-center">What are the benefits? Lots!</p>

<div class="container-fluid">
    <div class="row g-0 align-items-center text-left justify-content-center">
        {% for i in site.data.features.benefits %}
        <div class="col-sm-6 col-xl-4 mb-2">
            <div class="d-flex">
                <div class="ip">
                    <i class="{{ i.icon }}"></i>
                </div>
                <div class="ms-2 d-flex flex-column justify-content-center">
                    <div class="h4 my-2">{{ i.title }}</div>
                    <div class="ia">{{ i.sub1 }}</div>
                    <div class="ib">{{ i.sub2 }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>