<p class="h4 my-5 text-center" id="installs">Install apps in a click</p>
<div class="row g-0 text-center">
    {% for t in site.data.templates %}
    <div class="col-6 col-sm-4 col-md-3 col-xl-2 py-5 text-white" style="background-color: {{ t.color }};">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/{{ t.link }}">
            <img src="{{ t.icon }}" alt="{{ t.name }}" style="height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">{{ t.name }}</div>
    </div>
    {% endfor %}

    <div class="col-6 col-sm-4 col-md-3 col-xl-2 py-5  py-5 text-white" style="background-color: #181717;">
        <a href="https://portal.domcloud.id/start?wizard=import" style="color: white; font-size: 60px;">
            <i class="fas fa-download"></i>
        </a>
        <div class="mt-3 h3">Import Zip/Git&#8230;</div>
    </div>
</div>
<p class="my-5 text-center"><a href="https://github.com/domcloud/dom-templates">Find more templates</a></p>