<div class="row g-0 flex-row-reverse">
    <div class="col-md-6 p-5 text-left d-flex flex-column justify-content-center">
        <p class="h4">About DOM Cloud</p>
        <p>DOM Cloud is a free and open-source hosting service for your web applications.</p>
        <p><a href="https://github.com/domcloud/domcloud-io/#readme">Read FAQ</a></p>
        <p>
            <a class="github-button" href="https://github.com/domcloud/domcloud-io" data-size="large"
                data-show-count="true" aria-label="Star domcloud/domcloud-io on GitHub">Star on GitHub</a>
            <a class="github-button" href="https://github.com/domcloud/domcloud-io/discussions" data-size="large"
                data-icon="octicon-comment-discussion" aria-label="Discuss domcloud/domcloud-io on GitHub">Discuss on GitHub</a>
        </p>
    </div>
    <div class="col-md-6 mt-3 h3 bg">
        <img src="/assets/icon.svg" alt="DOM Cloud Logo" class="w-50">
    </div>
</div>
<div class="p-4 text-center">
    <p><a class="btn btn-lg btn-secondary" href="https://my.domcloud.co/en/register">Sign up now</a></p>
</div>
<script async defer src="https://buttons.github.io/buttons.js"></script>
